<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bingoonline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/phonex2"
        android:label="BingoBlitz"
        android:roundIcon="@drawable/phonex2"
        android:supportsRtl="true"
        android:theme="@style/Theme.BingoOnline">
        <activity android:name=".OfflineMode"
            android:screenOrientation="portrait"
            android:noHistory="true"></activity>
        <activity android:name=".Mode"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createRoom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>